@font-face {
    font-family: "Malven";
    src: url("../fonts/Malven.ttf");
}

html {
    height: 100%;
    
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 40rem 60rem 30rem 15rem 5rem;
    grid-template-areas: "top-part"
                        "highlights"
                        "testimonials"
                        "contact"
                        "footer";
    box-sizing: border-box;   
}

/***** TOP PART ***************/
.top-part {
    background-color: #C21010;
grid-area: top-part;
display: grid;
grid-template-rows: 10rem 1fr;
grid-template-areas: "header"
                     "intro";
}

.header {
grid-area: header;
align-content: center;
}

.resto-name h1 {
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 3.5rem;   
}

nav {
    display: none;
}

.intro {
    
    grid-area: intro;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.intro img {
    grid-column: 1 / 2;
}

.comp-logo {
    width: 20rem;
    margin: 0 auto;
}

.intro-msg {
    margin: 3rem auto;
    text-align: center;
}

.intro-msg p {
    color: white;
    font-family: 'malven', sans-serif;
    font-size: 1.65rem;
    line-height:2;
    padding: 0;
    margin: 0;
}



/***** HIGHLIGHTS ***************/
.highlights {
    background-color: #FFFDE3;
grid-area: highlights;
display: grid;
grid-template-rows: 6rem 1fr;
grid-template-areas: "words"
                     "carousel";
justify-content: center;
}

.highlights h2 {
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    grid-area: words;
   margin: auto;
}

.img-carousel {
    width: 15rem;
}

.carousel {
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-items img {
    flex: 0 0 100%;
  }
  
  .carousel:hover .carousel-items {
    transform: translateX(-33.33%);
  }
  
  .carousel:hover .carousel-items img:last-child {
    transform: translateX(-100%);
  }
  
  .carousel:hover .carousel-items img:first-child {
    transform: translateX(0%);
  }



/***** TESTIMONIALS ***************/
.testimonials {
    background-color: #E64848;
grid-area: testimonials;

}




/***** CONTACT ***************/
.contact {
    background-color: #CFE8A9;
grid-area: contact;

}



/***** FOOTER ***************/

footer {
    background: black;
grid-area: footer;

}

footer span {
    
    color: white;
    
}